body{
	background:#f5d9d5;
	font-family: 'Nunito', sans-serif;
}
 .para h2{
	color:#EA1C2C;
	font-weight: 100;
	font-size:2.5rem;
}
.para p{
	color:#f498b8;
	font-weight: 100;
	font-size: 1.02rem;
	line-height: 2;
}
#mainNavbar{
	font-size:1.5rem;
	font-weight:100;
}
#mainNavbar.nav-link{
	color:white;
}
#mainNavbar .nav-link:hover{
	color:#EA1C2C;
}
#mainNavbar .navbar-brand{
	color:#EA1C2C;
	font-size: 1.5rem;
}
.headings span{
  color:#EA1C2C;
}
@media {max-width:1200px} {
	.headings h2{
		font-weight: 100;
		font-size: 4rem;
	}
}
.content{
	margin-top:60px;
}
.navbar.scrolled {
    background: rgb(222,192,222);
    transition: background 500ms;
}